html, body, #map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
}

.logo {
font-family: 'Lato' , sans-serif;
font-style: italic;
}

.findMenu {
  margin-top: 50px;
}

.mapBox {
  height: 478px;
}

.mapTop {
  margin-top: 35px;
}

.navLogo {
  padding-right: 12px;
}

.navContainer {
  padding-top: 4px;
}

#markerPopup {
  display: none;
}

.mName {
  font-weight: 700;
}

#matchUserTemp {
  display: none;
}