extends landingLayout

block content
  .intro
    h1.landingHeader.logo find a PACK to run with
    div(ng-view)
    .container
      .row.searchBar
        form.col-md-12(action="/search", method="post")
          .form-group.col-md-2
            label(for='inputActivityType')
              .dropdown
                button#activityDropMenu.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') Activity
                    span.caret
                ul.dropdown-menu(name="type", role='menu', aria-labelledby='dropdownMenu1')
                  li(role='presentation')
                    a(name="type", role='run', tabindex='-1', href='#') Running
                  li(role='presentation')
                    a(name="type", role='bike', tabindex='-1', href='#') Cycling
          .form-group.col-md-2
            .dropdown
              label(for='inputActivityDate')
                input#datePick.btn.btn-default.datePick(name="date", data-provide='datepicker', aria-expanded='true', type='text', placeholder='Date')
          .form-group.col-md-2
            .dropdown
              label(for='inputActivityTime')
              input#timePicker.btn.btn-default(name="time", type='text', placeholder='Time', data-toggle='dropdown', aria-expanded='true')
          .form-group.col-md-2
              label(for='<inputActivity></inputActivity>Distance')
              input#distance.btn.btn-default(name="distance", type='text', placeholder='Distance')
              p.searchHelper#milesHelper miles
              //- span#basic-addon-dist.input-group-addon mi
          .form-group.col-md-2
              label(for='inputActivityPace')
              input#pace.btn.btn-default(name="pace", type='text', placeholder='Mile Pace')
              p.searchHelper#paceHelper mm:ss
              //- span#basic-addon2.input-group-addon min/mi
          .form-group.col-md-2
            label(for='inputActivityZip')
              input#address.btn.btn-default(name="address", type='text-box', placeholder='Zip')
        .form-group.goLogo
          div
            a(href='/find' type='submit', value='Geocode')
              img.intro-logo.center-block(src="/images/logo-button.png")
              //- button#searchSubmit.btn.btn-default(type='submit', value='Geocode') Search
      #map-canvas