.searchColR {
  width: 382px;
}

.datePickerSearch {
  width: 300px;
  height: 300px;
}

.timeSearchRow {
  padding-bottom: 11px;
}

.timeSearchRow > div:nth-child(-n+2) {
  padding-right: 20px;
}

.noMargin {
  margin: 0;
}

.searchContainer {
  height: auto;
  width: 700px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.createFormContainer {
  margin-top: -50px;
}

.createFormContainer > div:nth-child(2){
  margin-top: -17px;
}

.createDescription {
  margin-top: -80px;
}

#map-canvas {
  height: 260px;
  width: 100%;
}

.searchContainer > div {
  padding: 20px;
}

.mapButtons {
  margin-top: 0px;
}

.searchBtn {
    left: 33px;
  height: 35px;
  width: 145px;
}

.angular-google-map-container {
  height: 275px;
  width: 650px;
}



