.searchColR {
  width: 382px;
}

.datePickerSearch {
  width: 300px;
  height: 300px;
}

.timeSearchRow {
  padding-bottom: 11px;
}

.timeSearchRow > div:nth-child(-n+2) {
  padding-right: 20px;
}

.noMargin {
  margin: 0;
}

.searchContainer {
  height: 287px;
  width: 700px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.searchContainer > div {
  padding: 20px;
}

.searchBtn {
    left: 33px;
  height: 35px;
  width: 145px;
}


