.navBar {
width: 100%;
background: rgba(255,255,255,0.98);
}

.searchColR {
  width: 382px;
}

.datePickerSearch {
  width: 300px;
  height: 300px;
}

.timeSearchRow {
  padding-bottom: 11px;
}

.timeSearchRow > div:nth-child(-n+2) {
  padding-right: 20px;
}

.noMargin {
  margin: 0;
}

.searchContainer {
  height: auto;
  width: 700px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.resultsContainer {
  height: auto;
  width: 700px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.panelContainer {
  margin-bottom: 0px;
}

.actBtn {
  width: 100px;
}

.createFormContainer {
  /*margin-top: -50px;*/
}

.createFormContainer > div:nth-child(2){
  margin-top: -17px;
}

.createDescription {
  margin-top: -40px;

}

#map-canvas {
  height: 260px;
  width: 100%;
}

.searchContainer > div {
  padding: 10px;
}

.mapButtons {
  margin-top: 0px;
}

.searchBtn {
    left: 33px;
  height: 35px;
  width: 145px;
}

.leftNone {
padding-left: 0px;
margin-left: 0px;
}

.rightNone {
padding-right: 0px;
margin-right: 0px;
}

.loginContainer {
  margin-top: 150px;
}

.singleActivityContainer {
  margin-top: 60px;
  width: 800px;
  height: 100%
}

.commentContainer {
  height: 250px;
  margin-top: 10px;
}

.commentContainer p {
  font-size: 1em;
}

.face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd;
}

.landingCard{
  width: 250px;
}

.landingCard img {
  width:100px;
}

.landingContainer {
margin-top: 150px;
}