.container.mapTop
  .col-sm-3(ng-controller='createController')
    form(name="createActivity", novalidate)
      .form-group
        label(for='Name')
          h5 Activity Name:
          input.form-control(name="name", type='text', ng-model='data.activity.name')
      .form-group
         div(ng-controller="DatepickerCtrl")
           label(for='Date')
           h5 Date:
           .input-group
             input.form-control(type="text", datepicker-popup="{{format}}", ng-model="data.activity.date", is-open="opened", min-date="minDate", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", ng-required="true", close-text="Close", show-weeks='false', required)
             span.input-group-btn
               button.btn.btn-default(type="button", ng-click="open($event)")
                 i.glyphicon.glyphicon-calendar
      .form-group#createTime
        h5 Time:
        div(ng-controller="TimepickerCtrl")
          timepicker(ng-change="changed()", hour-step="hstep", minute-step="mstep", show-meridian="ismeridian", ng-model='data.activity.time', required)
      .form-group
        label(for='Distance')
        h5 Distance:
        .input-group
          input#distance.form-control.btn.btn-default(name="distance", type='text', placeholder='Distance', ng-model='data.activity.distance')
          span.input-group-addon mi
      .form-group
        label(for='inputActivityPace')
        h5 Pace:
        .input-group
          input#pace.form-control.btn.btn-default(name="pace", type='text', placeholder='Mile Pace', ng-model='data.activity.pace')
          span.input-group-addon mm:ss
      .form-group
        label(for='description')
          h5 Description:
          textarea.form-control(rows='3', ng-model='data.activity.description', required)
      .form-group
        button#searchSubmit.btn.btn-success(type='submit', value='Geocode', ng-click='publishActivity(data.activity)') Create

  .col-sm-9
    ui-gmap-google-map(center='map.center', zoom='map.zoom', draggable='true', options='options')
      ui-gmap-marker(coords='marker.coords', options='marker.options', events='marker.events', idkey='marker.id')
    p Drag marker to starting location
    p coords update ctr: {{coordsUpdates}}

