form(name="createActivity", novalidate)
  div.md-whiteframe-z3.searchContainer.createContainer
    div(layout='row', layout-align='center center', layout-sm='column')
      #map-canvas
    div.mapButtons(layout='row')
        md-button.md-raised(ng-click='locator()', ng-hide='hide') Find my location
        //- md-progress-circular.md-hue-2(ng-show='circle', md-mode='indeterminate')
    div.createFormContainer(layout='row')
        div(layout='column', layout-margin, layout-padding)
            div(ng-controller="DatepickerCtrl")
              div(style="display:inline-block")
                datepicker(ng-model="search.date", min-date="minDate", show-weeks="false", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", ng-required="true", required, close-text="Close")
        div(layout='column', layout-margin layout-padding, flex)
          div.timeSearchRow(layout='row', ng-controller='timeSelectCtrl')
            div(layout='column')
              md-select(ng-model='search.time.hour', required ,placeholder='hour')
                md-option(ng-value='hour', ng-repeat='hour in hours'){{hour}}
            div(layout='column')
              md-select(ng-model='search.time.minute', required, placeholder='minutes')
                md-option(ng-value='minute', ng-repeat='minute in minutes'){{minute}}
            div(layout='column')
              md-select(ng-model='search.time.ampm', required, placeholder='am/pm')
                md-option(ng-value='ap', ng-repeat='ap in amPM'){{ap}}
          div(layout='row')
            div(layout='column', flex)
              md-item
                p(ng-hide='search.distance') Distance:
                p(ng-show='search.distance') Distance: {{search.distance}} mi
                md-divider
              div(layout)
                md-slider.searchColR(flex min='1', max='26.2', ng-model='search.distance', required, aria-label='distance')
          div(layout='row')
            div(layout='column', flex)
              md-item
                p(ng-hide='search.pace') Pace:
                p(ng-show='search.pace') Pace: {{ search.pace | minutes }}:{{ search.pace | seconds | numberFixedLen: 2 }} min/mi
                md-divider
              div(layout)
                md-slider.searchColR(flex min='300', max='900', step='5', ng-model='search.pace', required, aria-label='pace')
          div(layout='row')
            md-input-container(md-no-float)
              input(ng-hide='hideZip', ng-model='search.address', type='text', placeholder='zipcode')
    div.createDescription(layout='row')
      md-input-container(flex)
        label Activity Name
        textarea(ng-model='search.name', required, columns='1', md-maxLength='50')
    div(layout='row')
    div.createDescription(layout='row')
      md-input-container(flex)
        label Description
        textarea(ng-model='search.description' columns='1', md-maxLength='150')
    div(layout='row')
      md-button.md-raised.md-primary(flex, ng-disabled='createActivity.$invalid', ng-click='publishActivity(search)') Create

