.landingMargin
  h1.landingHeader.text-center Find the perfect running group
  md-content.landingMargin(layout='row', layout-margin)
    md-card.landingCard(flex flex-order='1', layout-align='center center', layout-padding)
      img(ng-src='images/logo-button.png')
      md-card-content
        h2 Form a pack
        p Runners can be notorious for thier solo runs. But we've all experienced the joy of running with a group. While not everyone is a runner, you can all ways find one here.
    md-card.landingCard(flex flex-order='2', layout-align='center center', layout-padding)
      img(ng-src='images/logo-button.png')
      md-card-content
        h2 Find accountability
        p It's easy to put off that run until tomorrow. Having a support network that encourages you to be your best pays off on race day.
    md-card.landingCard(flex flex-order='3', layout-align='center center', layout-padding)
      img(ng-src='images/logo-button.png')
      md-card-content
        h2 Join the 1000's
        p That have already found someone to run with. You time, your pace, and your distance. It doesn't get much easier than that.