.landingContainer
  md-content(layout='row', layout-margin)
    md-card.landingCard(flex flex-order='1')
      h1 Header
      md-card-content
        h2 Connect with runners
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam iusto sit rerum fugit, illum ea soluta. Hic sapiente expedita tempora exercitationem rerum, repellendus itaque minus, ea quidem esse, omnis quaerat.

    md-card.landingCard(flex flex-order='2')
      img(ng-src='images/logo-button.png')
      md-card-content
        h2 Sub Header
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam iusto sit rerum fugit, illum ea soluta. Hic sapiente expedita tempora exercitationem rerum, repellendus itaque minus, ea quidem esse, omnis quaerat.

    md-card.landingCard(flex flex-order='3')
      h1 Header
      md-card-content
        h2 Sub Header
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam iusto sit rerum fugit, illum ea soluta. Hic sapiente expedita tempora exercitationem rerum, repellendus itaque minus, ea quidem esse, omnis quaerat.
