
//- Error comes through via the context passed when calling
//- res.render('login', {...})
//- Will see this in controllers/authenticate.js
//- If the error exists, we'll display it.

if error
  h3= error

//- Form for handling existing user logins
md-content.loginContainer.md-whiteframe-z3
  form(ng-submit='login()', ng-hide='showSignup')
    div(layout-sm='column', layout-padding, layout-margin)
      md-input-container(flex)
        label Email address
        input(ng-model='user.username', type='text')
      md-input-container(flex)
        label Password
        input(ng-model='user.password', type='password')
    div(layout-sm='column', layout-align-gt-sm='center center', layout='column',layout-padding)
      md-button.md-raised.md-primary(flex, type='submit') login
      p
        | Haven't signed up yet? Do so
        a(href='', ng-click='showSignup=true')  here
  div(ng-show='showSignup')
    signup




