form(name="searchActivity", novalidate)
  div.searchContainer.md-whiteframe-z3.searchContent(layout='row', layout-align='center center', layout-sm='column')
      div(layout='column', layout-margin, layout-padding)
          div(ng-controller="DatepickerCtrl")
            div(style="display:inline-block")
              datepicker(ng-model="search.dt", min-date="minDate", show-weeks="false", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", ng-required="true", close-text="Close")
      div(layout='column', ng-controller='timeSelectCtrl', layout-margin layout-padding)
          div(layout='row')
            div(layout='column')
              md-select(ng-model='hour', placeholder='hour')
                md-option(ng-value='hour', ng-repeat='hour in hours'){{hour}}
            div(layout='column')
              md-select(ng-model='minute', placeholder='minutes')
                md-option(ng-value='minute', ng-repeat='minute in minutes'){{minute}}
            div(layout='column')
              md-select(ng-model='ampm', placeholder='am/pm')
                md-option(ng-value='ap', ng-repeat='ap in amPM'){{ap}}
          div(layout='row')
            div(layout='column')
              md-item
                p(ng-hide='search.distance') Distance:
                p(ng-show='search.distance') Distance: {{search.distance}} mi
                md-divider
              div(layout)
                md-slider.searchColR(flex min='1', max='26.2', ng-model='search.distance')
          div(layout='row')
            div(layout='column')
              md-item
                p(ng-hide='search.pace') Pace:
                p(ng-show='search.pace') Pace: {{ search.pace | minutes }}:{{ search.pace | seconds | numberFixedLen: 2 }} min/mi
                md-divider
              div(layout)
                md-slider.searchColR(flex min='240', max='900', step='5', ng-model='search.pace')
          div(layout='row')
            md-input-container(md-no-float)
              input(ng-model='search.address', type='text', placeholder='zipcode')

  .form-group.goLogo
    div
      img.intro-logo.center-block(src="/images/logo-button.png")
    //- a(href='/find' type='submit', value='Geocode')
    //- button#searchSubmit.btn.btn-default(type='submit', value='Geocode') Search