div(layout='column', style='margin-top: 10px')
  md-whiteframe.md-whiteframe-z2.resultsContainer(layout)
    md-content.md-padding(flex)
      .panel.panel-default.panelContainer
        .panel-heading
          div(layout='row' layout-align='space-around center')
            h3 Activity Details
            md-button.md-raised.actBtn Map
            md-button.md-raised.actBtn Join
        .panel-body
          div(layout='row')
            p <strong>{{item.creator}}</strong> &nbsp; - &nbsp;
            p <strong>Date</strong>: {{item.activityDate}} &nbsp; - &nbsp;
            p <strong>Time</strong> : {{item.activityTime}} &nbsp; - &nbsp;
            p <strong>Distance</strong>: {{item.activityDistance}} mi &nbsp; - &nbsp;
            p <strong>Pace</strong>: {{ item.activityPace | minutes }}:{{ item.activityPace | seconds | numberFixedLen: 2 }} min/mi
