div(layout='column', style='margin-top: 10px', layout-align='center center', ng-controller='singleActivityController')
  md-whiteframe.md-whiteframe-z2.singleActivityContainer(layout='column')
    md-toolbar.md-warn
      div.md-toolbar-tools
        span.md-flex {{item.activityName}}
    md-content.md-padding
          #map-canvas
          div(layout='row')
            p <strong>{{item.creator}}</strong> &nbsp; - &nbsp; &nbsp;
            p <strong>Date</strong>: {{item.activityDate | date: 'M/d/yy'}} &nbsp; - &nbsp;
            p <strong>Time</strong> : {{item.activityTimeStamp | date:'h:mm a' }} &nbsp; - &nbsp;
            p <strong>Distance</strong>: {{item.activityDistance}} mi &nbsp; - &nbsp;
            p <strong>Pace</strong>: {{ item.activityPace | minutes }}:{{ item.activityPace | seconds | numberFixedLen: 2 }} min/mi
          md-divider
          div(layout='row')
            p {{item.activityDescption}}


